/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

#iphone-inside { overflow: hidden; height:100%; width:100%; background-image:url(../images/background3.jpg); }
#unlock-top { position: relative; height:95px; background-image:url(../images/lock-top.png); }
#unlock-spacer { height:272px; /* Total height = 461px - 95px (top) - 94px (bottom) */ }
#unlock-bottom { position: relative; height:94px; background-image:url(../images/lock-bottom.png); }
#slide-to-unlock {  position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height:94px; background-image:url(../images/slide-to-unlock.gif); }
#unlock-slider-wrapper { padding-left:22px; padding-top:23px; }
#unlock-slider { width:277px; height:50px; }
#unlock-handle{ position: absolute; z-index: 10; height: 50px; width: 72px; top: 0px; left: 0px; background-image: url(../images/lock-slider.png); }

.time { text-align:center; color:#FFFFFF; font-family:Helvetica, Times, serif; font-size:50px; padding:6px 0; }
.date { text-align:center; color:#FFFFFF; font-family:Helvetica, Times, serif; font-size:15px; margin-top:-10px; }

/* Used by the jQuery slider */
.ui-slider { position: relative; background-repeat: no-repeat; background-position: center center; }


/* SPRINGBOARD */
