body { background-image:url(./images/iphone-bg.png); background-repeat:no-repeat; background-color:#25262b; padding:0; margin:0; }
a { outline:none; }
p { padding:0; margin:0; }
img { border:0; }

#iphone-scrollcontainer { height:461px; width:320px; position:absolute; top:140px; left:40px; background-color:#000000; overflow:hidden; }

#home_button {
width:69px;
height:70px;
position:absolute;
top:617px;
left:165px;
}

#sleep_button {
width:65px;
height:12px;
position:absolute;
top:0px;
left:260px;
}
